.first-header-line{
  display:flex;
  justify-content:space-between;
  width: 100%;
}
.first-header-line nav{
  display:flex;
  justify-content:space-around;
}
.first-header-line h1 {

 color: #333366;
  font-size:32px;
}
.second-header-line p {
font-size:18px;
  color: #333366;
}
.second-header-line p span{
  color:red;
  font-weight:bold;
  font-size:26px;
}

nav ul{
  list-style:none;
}
nav ul li{
padding-bottom:5px;
}
nav ul li.active {
  border-bottom: 4px solid #e71921;
}
@media only screen and (max-width: 720px) {
  .first-header-line h1{
font-size:21px!important;  }
}
