<footer class="pt-5 pb-5 pl-5 pr-5">

  <ul>
    <li>
     <b>HELPFUL LINKS</b>
    </li>
    <li><a href="">Contact Us</a></li>

    <li><a href="">Site Index</a></li>
    <li><a href="">FAQs</a></li>
    <li><a href="">Feedback</a></li>

  </ul>

  <ul>
    <li>
  <b>ON ABOUT.USPS.COM</b>
    </li>
    <li><a href="">About USPS Home</a></li>

    <li><a href="">Newsroom</a></li>
    <li><a href="">USPS Service Updates</a></li>
    <li><a href="">Forms & Publications</a></li>
    <li><a href="">Government Services</a></li>
    <li><a href="">Careers</a></li>

  </ul>
  <ul>
    <li>
      <b>OTHER USPS SITES</b>
    </li>
    <li><a href="">Business Customer Gateway</a></li>

    <li><a href="">Postal Inspectors</a></li>
    <li><a href="">Inspector General</a></li>
    <li><a href="">Postal Explorer</a></li>
    <li><a href="">National Postal Museum</a></li>
    <li><a href="">Resources for Developers</a></li>

  </ul>
  <ul>
    <li>
      <b>LEGAL INFORMATION</b>
    </li>
    <li><a href="">Privacy Policy</a></li>

    <li><a href="">Terms of Use</a></li>
    <li><a href="">FOIA</a></li>
    <li><a href="">No DEAR Act EEO Data</a></li>

  </ul>
</footer>
