::ng-deep .p-menubar {
  height: 50px;


}

@media only screen and (min-width: 961px) {
  ::ng-deep .p-menubar p-menubarsub {
    position: absolute;
    right: 40px;
  }
}


::ng-deep p-menubar > div {
  background: #fff !important;
  border: none !important;
}

::ng-deep p-menubar a.p-menuitem-link.p-ripple {
  font-size: 13px !important;
}
